################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Example/bin/Debug/net6.0-windows
/Example/obj
/MaterialDesignThemes.DialogsHelper/bin/Debug
/MultiExample/bin/Debug/net6.0-windows
/MultiExample/obj
